@using SpaceRaceKai.Shared.Models.DecisionEvent
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <h6>Choose:</h6>
    <div>
        <ul>
            <li>Population: @ShowSignedNumber(Model.PopulationChangeA)@Model.PopulationChangeA</li>
            <li>Approval: @ShowSignedNumber(Model.ApprovalChangeA)@Model.ApprovalChangeA</li>
            <li>Wealth: @ShowSignedNumber(Model.WealthChangeA)@Model.WealthChangeA</li>
            <li>Tech: @ShowSignedNumber(Model.TechChangeA)@Model.TechChangeA</li>
            <li>Industry: @ShowSignedNumber(Model.IndustryChangeA)@Model.IndustryChangeA</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Population: @ShowSignedNumber(Model.PopulationChangeB)@Model.PopulationChangeB</li>
            <li>Approval: @ShowSignedNumber(Model.ApprovalChangeB)@Model.ApprovalChangeB</li>
            <li>Wealth: @ShowSignedNumber(Model.WealthChangeB)@Model.WealthChangeB</li>
            <li>Tech: @ShowSignedNumber(Model.TechChangeB)@Model.TechChangeB</li>
            <li>Industry: @ShowSignedNumber(Model.IndustryChangeB)@Model.IndustryChangeB</li>
        </ul>
    </div>
</div>
@code {
    [Parameter]
    public DecisionEventDetail Model { get; set; }

    private char ShowSignedNumber(int number)
    {
        return (number >= 0) ? '+' : ' ';
    }
}
