@using SpaceRaceKai.Shared.Models.WorldEvent
<div class="card">
    <h4 class="card-header">@Model.Name</h4>
    <div class="card-body">
        <p>@Model.Description</p>
        <h6>Effects:</h6>
        <ul class="list-group">
            <li class="list-group-item">Population: @ShowSignedNumber(Model.PopulationChange)@Model.PopulationChange</li>
            <li class="list-group-item">Approval: @ShowSignedNumber(Model.ApprovalChange)@Model.ApprovalChange</li>
            <li class="list-group-item">Wealth: @ShowSignedNumber(Model.WealthChange)@Model.WealthChange</li>
            <li class="list-group-item">Tech: @ShowSignedNumber(Model.TechChange)@Model.TechChange</li>
            <li class="list-group-item">Industry: @ShowSignedNumber(Model.IndustryChange)@Model.IndustryChange</li>
        </ul>
    </div>
</div>

@code {
    [Parameter]
    public WorldEventDetail Model { get; set; }

    private char ShowSignedNumber(int number)
    {
        return (number >= 0) ? '+' : ' ';
    }
}
