@using SpaceRaceKai.Shared.Models.WorldEvent
<div>
    <h4>@Model.Name</h4>
    <p>@Model.Description</p>
    <h6>Effects:</h6>
    <ul>
        <li>Population: @ShowSignedNumber(Model.PopulationChange)@Model.PopulationChange</li>
        <li>Approval: @ShowSignedNumber(Model.ApprovalChange)@Model.ApprovalChange</li>
        <li>Wealth: @ShowSignedNumber(Model.WealthChange)@Model.WealthChange</li>
        <li>Tech: @ShowSignedNumber(Model.TechChange)@Model.TechChange</li>
        <li>Industry: @ShowSignedNumber(Model.IndustryChange)@Model.IndustryChange</li>
    </ul>
</div>

@code {
    [Parameter]
    public WorldEventDetail Model { get; set; }

    private char ShowSignedNumber(int number)
    {
        return (number >= 0) ? '+' : ' ';
    }
}
