@page "/worldevent/create"
@using SpaceRaceKai.Shared.Models.EventEffect
@using SpaceRaceKai.Shared.Models.PlanetType
@using SpaceRaceKai.Shared.Models.WorldEvent
@inject HttpClient http
@inject NavigationManager navigation

<h3>Create</h3>

@if (errorMessage != null)
{
    <h5>@errorMessage</h5>
}
else
{
    <div>
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <div>
                <label>Name</label>
                <InputText @bind-Value="model.Name" />
            </div>
            <div>
                <label>Description</label>
                <InputText @bind-Value="model.Description" />
            </div>
            <div>
                <label>Planet Type ID</label>
                <InputSelect @bind-Value="model.PlanetTypeId">
                    @foreach (var item in planetTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
            </div>
            <div>
                <label>Event Effect ID</label>
                <p>Effect changes are displayed in the order "PAWTI" - Population, Approval, Wealth, Tech, and Industry</p>
                <InputSelect @bind-Value="model.EventEffectId">
                    @foreach (var item in eventEffects)
                    {
                        <option value="@item.Id">
                            @item.PopulationChange/@item.ApprovalChange/@item.WealthChange/@item.TechChange/@item.IndustryChange
                        </option>
                    }
                </InputSelect>
            </div>
            <button type="submit">Create</button>
        </EditForm>
    </div>
}

@code {
    private string? errorMessage;
    private WorldEventCreate model = new();

    private List<PlanetTypeListItem> planetTypes = new();
    private List<EventEffectListItem> eventEffects = new();

    protected override async Task OnInitializedAsync()
    {
        planetTypes = await http.GetFromJsonAsync<List<PlanetTypeListItem>>("/api/planettype");
        eventEffects = await http.GetFromJsonAsync<List<EventEffectListItem>>("/api/eventeffect");
    }

    private async void HandleSubmit()
    {
        var response = await http.PostAsJsonAsync<WorldEventCreate>("/api/worldevent", model);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/worldevent");
        }
        else
        {
            errorMessage = "The world event could not be created right now. Please try again later.";
        }
    }
}
