@page "/worldevent/edit/{WorldEventId:int}"
@using SpaceRaceKai.Shared.Models.EventEffect
@using SpaceRaceKai.Shared.Models.PlanetType
@using SpaceRaceKai.Shared.Models.WorldEvent
@inject HttpClient http
@inject NavigationManager navigation

<h3>Edit</h3>

@if (errorMessage != null)
{
    <h5>@errorMessage</h5>
}
<div>
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <div>
            <label>Name</label>
            <InputText @bind-Value="model.Name" />
        </div>
        <div>
            <label>Description</label>
            <InputTextArea @bind-Value="model.Description" />
        </div>
        <div>
            <label>Planet Type ID</label>
            <InputSelect @bind-Value="model.PlanetTypeId">
                <option value="-1">Select a Planet Type</option>
                @foreach (var item in planetTypes)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </InputSelect>
        </div>
        <div>
            <label>Event Effect ID</label>
            <InputSelect @bind-Value="model.EventEffectId">
                <option value="-1">Select an Event Effect</option>
                @foreach (var item in eventEffects)
                {
                    <option value="@item.Id">
                        @item.PopulationChange/@item.ApprovalChange/@item.WealthChange/@item.TechChange/@item.IndustryChange
                    </option>
                }
            </InputSelect>
        </div>
        <button type="submit">Confirm</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public int WorldEventId { get; set; }

    private List<PlanetTypeListItem> planetTypes = new();
    private List<EventEffectListItem> eventEffects = new();

    private WorldEventEdit model = new();
    private string? errorMessage;

    protected override async Task OnInitializedAsync()
    {
        planetTypes = await http.GetFromJsonAsync<List<PlanetTypeListItem>>("/api/planettype");
        eventEffects = await http.GetFromJsonAsync<List<EventEffectListItem>>("/api/eventeffect");

        model = await http.GetFromJsonAsync<WorldEventEdit>($"/api/worldevent/{WorldEventId}");
    }

    private async void HandleSubmit()
    {
        var response = await http.PutAsJsonAsync<WorldEventEdit>($"/api/worldevent/edit/{WorldEventId}", model);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo($"/worldevent/{WorldEventId}");
        }
        else
        {
            errorMessage = $"Changes to World Event '{model.Name}' (ID: {model.Id}) could not be saved.";
        }
    }
}
