@using SpaceRaceKai.Shared.Models.WorldEvent
<div>
    <h4>@Model.Name</h4>
    <p>Planet Type: @Model.PlanetTypeName</p>
    <p>Description: @Model.Description</p>
    <table class="table table-sm table-bordered" style="width: fit-content">
        <thead class="table-light">
            <tr>
                <th>Stats</th>
                <th>Values</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Population Change</td>
                <td>@Model.PopulationChange</td>
            </tr>
            <tr>
                <td>Approval Change</td>
                <td>@Model.ApprovalChange</td>
            </tr>
            <tr>
                <td>Wealth Change</td>
                <td>@Model.WealthChange</td>
            </tr>
            <tr>
                <td>Tech Change</td>
                <td>@Model.TechChange</td>
            </tr>
            <tr>
                <td>Industry Change</td>
                <td>@Model.IndustryChange</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public WorldEventDetail Model { get; set; }
}
