@using SpaceRaceKai.Shared.Models.WorldEvent
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Planet Type ID</th>
            <th>Planet Type Name</th>
            <th>Event Effect ID</th>
            <th>Population Change</th>
            <th>Approval Change</th>
            <th>Tech Change</th>
            <th>Industry Change</th>
            <th>Wealth Change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@model.Id</td>
            <td>@model.Name</td>
            <td>@model.Description</td>
            <td>@model.PlanetTypeId</td>
            <td>@model.PlanetTypeName</td>
            <td>@model.EventEffectId</td>
            <td>@model.PopulationChange</td>
            <td>@model.ApprovalChange</td>
            <td>@model.TechChange</td>
            <td>@model.IndustryChange</td>
            <td>@model.WealthChange</td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter]
    public WorldEventDetail model { get; set; }
}
