@page "/colony/create"
@using SpaceRaceKai.Shared.Models.Colony
@using SpaceRaceKai.Shared.Models.PlanetType
@inject HttpClient http
@inject NavigationManager navigation

<h3>Create New Colony</h3>

@if (errorMessage != null)
{
    <h5>@errorMessage</h5>
}
else
{
    <div class="container-md" style="width: 20rem;">
        <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
            <div class="d-flex justify-content-between">
                <label>Name</label>
                <InputText @bind-Value="model.Name" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Population</label>
                <InputNumber @bind-Value="model.Population" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Approval Rating</label>
                <InputNumber @bind-Value="model.ApprovalRating" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Tech Level</label>
                <InputNumber @bind-Value="model.TechLevel" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Industry Level</label>
                <InputNumber @bind-Value="model.IndustryLevel" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Wealth Level</label>
                <InputNumber @bind-Value="model.WealthLevel" />
            </div>
            <div class="d-flex justify-content-between">
                <label>User ID</label>
                <InputText @bind-Value="model.UserId" />
            </div>
            <div class="d-flex justify-content-between">
                <label>Planet Type</label>
                <InputSelect @bind-Value="model.PlanetTypeId">
                    <option value="-1">Select a Planet Type</option>
                    @foreach (var item in planetTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </InputSelect>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
}

@code {
    private string? errorMessage;
    private ColonyCreate model = new();

    private List<PlanetTypeListItem> planetTypes = new();

    protected override async Task OnInitializedAsync()
    {
        planetTypes = await http.GetFromJsonAsync<List<PlanetTypeListItem>>("/api/planettype");
    }

    private async void HandleSubmit()
    {
        var response = await http.PostAsJsonAsync<ColonyCreate>("/api/colony", model);
        if (response.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/colony");
        }
        else
        {
            errorMessage = "Your colony could not be created right now. Please try again later.";
        }
    }
}
