@page "/colony/{ColonyId:int}"
@using SpaceRaceKai.Shared.Models.Colony
@inject HttpClient http

@if (Colony != null)
{
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@Colony.Name</h3>
            <p>User: @Colony.UserEmail [ID: @Colony.UserId]</p>
            <p>Planet Type: @Colony.PlanetTypeName</p>
        </div>
        <div class="card-body">
            <table class="table table-sm" style="width:fit-content">
                <thead>
                    <tr>
                        <th>Stats</th>
                        <th>Values</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Population</td>
                        <td>@Colony.Population</td>
                    </tr>
                    <tr>
                        <td>Approval</td>
                        <td>@Colony.ApprovalRating</td>
                    </tr>
                    <tr>
                        <td>Wealth</td>
                        <td>@Colony.WealthLevel</td>
                    </tr>
                    <tr>
                        <td>Tech</td>
                        <td>@Colony.TechLevel</td>
                    </tr>
                    <tr>
                        <td>Industry</td>
                        <td>@Colony.IndustryLevel</td>
                    </tr>
                    <tr>
                        <td>Playthroughs</td>
                        <td>@Colony.Playthroughs</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int ColonyId { get; set; }

    public ColonyDetail Colony { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Colony = await http.GetFromJsonAsync<ColonyDetail>($"/api/colony/{ColonyId}");
    }
}
