@page "/eventeffect/{EventEffectId:int}"
@using SpaceRaceKai.Shared.Models.EventEffect
@inject HttpClient http

<h3>Detail</h3>

@if (model != null)
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Population Change</th>
                    <th>Approval Change</th>
                    <th>Tech Change</th>
                    <th>Industry Change</th>
                    <th>Wealth Change</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@model.PopulationChange</td>
                    <td>@model.ApprovalChange</td>
                    <td>@model.TechChange</td>
                    <td>@model.IndustryChange</td>
                    <td>@model.WealthChange</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@code {
    [Parameter]
    public int EventEffectId { get; set; }

    public EventEffectDetail model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<EventEffectDetail>($"/api/eventeffect/{EventEffectId}");
    }
}
