@using SpaceRaceKai.Shared.Models.EventEffect
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Population Change</th>
            <th>Approval Change</th>
            <th>Tech Change</th>
            <th>Industry Change</th>
            <th>Wealth Change</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@model.Id</td>
            <td>@model.PopulationChange</td>
            <td>@model.ApprovalChange</td>
            <td>@model.TechChange</td>
            <td>@model.IndustryChange</td>
            <td>@model.WealthChange</td>
        </tr>
    </tbody>
</table>

@code {
    private EventEffectDetail model { get; set; }
}
