@using SpaceRaceKai.Shared.Models.DecisionEvent
<div>
    <table>
        <thead>
            <tr>
                <th>Event Effect A</th>
            </tr>
            <tr>
                <th>Population Change</th>
                <th>Approval Change</th>
                <th>Tech Change</th>
                <th>Industry Change</th>
                <th>Wealth Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@model.PopulationChangeA</td>
                <td>@model.ApprovalChangeA</td>
                <td>@model.TechChangeA</td>
                <td>@model.IndustryChangeA</td>
                <td>@model.WealthChangeA</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Event Effect B</th>
            </tr>
            <tr>
                <th>Population Change</th>
                <th>Approval Change</th>
                <th>Tech Change</th>
                <th>Industry Change</th>
                <th>Wealth Change</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@model.PopulationChangeB</td>
                <td>@model.ApprovalChangeB</td>
                <td>@model.TechChangeB</td>
                <td>@model.IndustryChangeB</td>
                <td>@model.WealthChangeB</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public DecisionEventDetail model { get; set; }
}
