@using SpaceRaceKai.Shared.Models.DecisionEvent
<div style="display: flex">
    <table class="table table-sm table-bordered table-hover" style="width: fit-content">
        <thead class="table-light">
            <tr>
                <th colspan="2">Event Effect A</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Population</td>
                <td>@Model.PopulationChangeA</td>
            </tr>
            <tr>
                <td>Approval</td>
                <td>@Model.ApprovalChangeA</td>
            </tr>
            <tr>
                <td>Wealth</td>
                <td>@Model.WealthChangeA</td>
            </tr>
            <tr>
                <td>Tech</td>
                <td>@Model.TechChangeA</td>
            </tr>
            <tr>
                <td>Industry</td>
                <td>@Model.IndustryChangeA</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered table-hover" style="width: fit-content">
        <thead class="table-light">
            <tr>
                <th colspan="2">Event Effect B</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Population</td>
                <td>@Model.PopulationChangeB</td>
            </tr>
            <tr>
                <td>Approval</td>
                <td>@Model.ApprovalChangeB</td>
            </tr>
            <tr>
                <td>Wealth</td>
                <td>@Model.WealthChangeB</td>
            </tr>
            <tr>
                <td>Tech</td>
                <td>@Model.TechChangeB</td>
            </tr>
            <tr>
                <td>Industry</td>
                <td>@Model.IndustryChangeB</td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public DecisionEventDetail Model { get; set; }
}
